.header {
  background: rgb(108, 240, 108);
  box-shadow: 0px 2px 0px -1px rgba(0, 0, 0, 0.1), 0px 2px 3px 0px rgba(0, 0, 0, 0.14),
  0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 7px;
  color: #555;
  display: flex;
  justify-content: space-between;
  a {
    margin: 5px;
    display: flex;
    transition: transform 1.5s;

    &:hover {
      transform: rotate(360deg);
    }
  }
  .sort {
    display: flex;
    justify-content: flex-end;
    .header-name-cont {
      display: flex;
      align-items: center;
      .header-name {
        text-align: right;
        font-size: 1.2em;
        font-weight: bold;
        @media screen and (max-width: 500px) {
          font-size: 0.9em;
        font-weight: bold;
        }
      }
    }
    .sort-by {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      div {
        font-size: 0.8em;
        text-align: center;
        font-weight: bold;
      }
      .buttons {
        display: flex;
        width: 80px;
        justify-content: space-evenly;
        padding: 5px 0;

        .sort-button {
          img {
            width: 25px;
            height: 25px;
            @media screen and(max-width: 450px) {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }
}
