.disabled {
  pointer-events: none;
  opacity: 0.08;
}

.header {
  background: rgb(108, 240, 108);
  margin-bottom: 7px;
  color: #555;

  .sort {
    display: flex;
    justify-content: flex-end;
    .header-name-cont {
      display: flex;
      align-items: center;
      .header-name {
        text-align: right;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
    .sort-by {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      div {
        font-size: 0.8em;
        text-align: center;
        font-weight: bold;
      }
      .buttons {
        display: flex;
        width: 80px;
        justify-content: space-evenly;
        padding: 5px 0;

        .sort-button {
          img {
            width: 25px;
            height: 25px;
            @media screen and(max-width: 450px) {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }
}
